<%#= render partial: 'error', locals: { objekt: 'hi'} %>


<h1>Sign up to Lovely Flickr</h1>
<%= form_for @user, remote: true do |f| %>
  <%= f.error_messages %>

  <div>Username: <%= f.text_field :username %></div>
  <div>Email: <%= f.text_field :email %></div>
  <div>Password: <%= f.password_field :password %></div>
  <div>Confirm: <%= f.password_field :password_confirmation %></div>
  <div><%= f.submit "Sign Up" %></div>
<% end %>
