<!DOCTYPE html>
<html>
  <head>
    <title>Flickr</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="message alert"></div>
        <%= yield %>

        <!-- <h2>About Us a.k.a. text for side bar here</h2> -->
            <!-- Readymade salvia Odd Future, twee fixie fingerstache lo-fi yr literally. Beard Bushwick roof party, single-origin coffee art party hella church-key Etsy. Terry Richardson flexitarian banjo Portland, stumptown next level wolf Austin tumblr 90's ennui Pinterest locavore. Kale chips before they sold out Marfa, Austin asymmetrical disrupt flannel Carles small batch church-key tousled bitters. Yr sriracha organic quinoa, Austin meh shabby chic Brooklyn Banksy sustainable Cosby sweater master cleanse VHS whatever. Bushwick before they sold out twee mumblecore. Ethical blog Carles, cornhole narwhal small batch deep v pickled wayfarers master cleanse you probably haven't heard of them. -->
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <div class="lightbox-bg hide"></div>
    <div class="lightbox-box hide"><img id="lightbox-img" /></div>
  </body>
</html>
